body{
    margin:0;
}

.wrapper{
    width:1200px;
    margin:auto;
}


/*NAVIGATION CSS*/
nav{
    width:100%;
    background: #3232FF;
}

nav .nav-items{
    display:flex;
    justify-content: space-between;
}

.nav-items-left , .nav-items-right{
    display:flex;
}

.nav-item{
    padding: 15px 20px;
    text-decoration:none;
    color:white;
}

.nav-item-right{
    
}