body{
    margin:0;
    background: linear-gradient(#52E5E7 , #015B95);
}

.wrapper{
    width:1200px;
    margin:auto;
}

/*TEXT & FONTS*/
h1, h2, h3{
    font-family: 'Quicksand', sans-serif;
    margin:0;
    font-weight: bolder;
}

h1{
    font-size:60px;
    color:#E2BF57;
}
p{
  font-family: 'Roboto', sans-serif;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    margin:0;
}

a{
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}


/*NAVIGATION CSS*/
nav{
    width:100%;
    background: linear-gradient(#015B95, #2572A4);
    position:fixed;
    z-index:100;
    
}

nav .nav-items{
    display:flex;
    justify-content: space-between;
}

.nav-items-left , .nav-items-right{
    display:flex;  
}

.nav-item{
    padding: 15px 20px;
    text-decoration:none;
    color:white;
}
.nav-item:hover{
    background:#2572A4;
    border-radius: 2px;
}

.nav-item-right{
    
    margin:7px;
    padding: 8px 13px;
    background: #cc0000;
    border-radius: 1px;
}
.nav-item-right:hover{
    background:#b30000;
    border-radius: 1px;
}

/*CSS EFFECTS*/
header:hover{
    transition: 0.2s;
    
}

header:hover > .header-window{
    transform: scale(1.03);
    transition: 0.2s;
    transition-timing-function: ease-in-out;

}

header:hover{
    transition: 0.2s;
    background: url("https://i.imgur.com/lHYR56y.png");
}

/*HEADER CSS*/
header {
    height:450px;
    background: url("https://baconmockup.com/1800/450/");
    display: table;
    width:100%;
    transition: 0.2s;
    
}
.header-window{
    display: table-cell; 
    vertical-align: middle;
    color:aliceblue;
    text-align: center;
    transition: 0.2s;
    transition-timing-function: ease-in-out;    
}
.header-window h5{
    width:800px;
    margin:auto
}

.register-btn{
    padding: 15px 20px;
    background: #2572A4;
    color: white;
    border-radius:3px;
    position:absolute;
    margin:20px;
    margin-left:-83.415px
}

.register-btn:hover, .submit-btn:hover{
    background:#015B95;
    
}

/*ARTICLE / MAIN BODY*/

.main{
    background: #E8E8E8;
    margin: 10px 0;
    padding:5px;
    border-radius:3px;
}
.section{
    margin:10px;
    display:flex;
}

.section img {
    border-radius:2px;
    margin:10px;
    border: solid 1px #E2BF57;
}

article{
    margin:10px;
}

article h2{
    border-bottom:solid 1px #015B95;
}

}

.section-2{
    justify-content: space-between;
}

/*REG*/




/*FOOTER*/

footer{
    background:#2a2a2a;
}

.footer-sections{
    padding:10px 0;
    display:flex;
    justify-content: space-between;
}



.footer-section ul .list-header{
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    
    color: lightgray;
    border-bottom:solid 1px #E2BF57;
}
.footer-section ul li{
    margin: 5px 0;
}

.footer-section ul{
    list-style-type: none;
    width:500px
}


/*FORM-Register*/
input{
    margin:5px 10px;
    padding:10px;
    width:250px;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    
}

.submit-btn{
    margin:auto;
    position:static;
    width:570px;
    border:0;
    font-size:15px;
    background: #2572A4;
    color: white;
    border-radius:3px;
    padding: 10px 0;
}

.large-header{
    height:800px;
    background: url("https://baconmockup.com/1800/800/");
}





