# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore Editor files
*.sublime-project
*.sublime-workspace
*.komodoproject

# ignore all files starting with  ~
~*